<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

<script src="{{ url_for('static',filename='jquery-3.1.1.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>
<body>

{% for template in templates %}

<div>
<a href="/template/{{ template['id'] }}">{{ template['title'] }}</a>
</div>

{% endfor %}

</body>
</html>
